<div class="input-group mr-2">
  <input [ngClass]="ngControl?.valid ? 'ng-valid' : 'ng-invalid'" placeholder="DD-MMM-YYYY" #dateTime
    class="form-control" (blur)="inputBlur($event); onInputChange($event)" [(ngModel)]="dateString" uppercase
    [disabled]='disabled' />

  <div class="input-group-append">
    <button class="fa fa-calendar calendar" (click)="selectedDate()" [ngbPopover]="calendarContent"
      [disabled]='disabled' type="button">
    </button>
  </div>
</div>

<ng-template #calendarContent>
  <div>
    <ngb-datepicker #dp name="datepicker" [ngModel]="datetime" [startDate]="selectedDateObject"
      [dayTemplate]="customDay" (ngModelChange)="onDateChange($event)" [markDisabled]="isDisabled"></ngb-datepicker>
  </div>
</ng-template>

<ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled"
  let-focused="focused">
  <span class="custom-day" [class.today]="isToday(date)" [class.focused]="focused" [class.bg-primary]="selected"
    [class.text-muted]="disabled" [class.hidden]="date.month !== currentMonth" [class.weekend]="isWeekend(date)">
    {{ date.day }}

  </span>
</ng-template>